* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;

  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to right, #a7acb5, #264931); */
  background-color: #f4f1ea;
}

/* NAVBAR */
nav {
  /* background-color: #d6dbe2; */
  /* background: linear-gradient(to right, #d6dbe2, #6aed94, #d6dbe2, #6aed94); */
  background: linear-gradient(to right, #2c1b18, #4e342e, #6f4e37);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 3px;
}

nav h1 {
  font-weight: 1000;
  margin-left: 10px;
  background: linear-gradient(to right, #ffd700, #f39c12);
  color: transparent;
  background-clip: text;
}

nav ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin-top: 10px;
}

nav ul li {
  display: inline;
  font-weight: 600;
  margin: 10px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  transition: 0.3s;
}

nav ul li:hover {
  transform: scale(1.2);
  padding: 5px;
  color: #ffd700;
  border-bottom: 3px solid #e0d8c3;
  border-radius: 2px;
}

.logout {
  color: white;
  background-color: #c0392b;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.logout:hover {
  border-radius: 20px;
  background-color: #852222;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* div SELAMAT DATANG*/
.datang {
  background-color: #f4f1ea; /* Warna putih bersih */
  width: 80%;
  padding: 50px;
  margin: 40px auto;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 100px;
  transition: 0.5s ease-in-out;
}

.datang:hover {
  background-color: #ffffff;
  transform: scale(1.03);
  box-shadow: 1px 1px 15px 3px #2c1b18;
}

.datang h1 {
  font-size: 60px;
  font-weight: 800;
  color: #5d4037; /* Cokelat tua */
  /* margin-bottom: 10px; */
}

.datang h3 {
  color: #d35400; /* Oranye bata */
  font-weight: 600;
  /* margin-bottom: 20px; */
}

.datang p {
  color: #555;
  font-size: 18px;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto 30px auto;
}

.datang a {
  display: inline-block;
  padding: 12px 35px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s;
  border: 2px solid #692d05;
  color: #3b4953;
}

.datang a:hover {
  color: white;
  background-color: #5d4037;
  border: 2px solid;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* BOOK  input*/
#book {
  margin-top: 20px;
  margin-bottom: 5px;
}

/* .form-grid label {
  position: absolute;
  left: 50px;
  top: 65;
  background: #fff;
  padding: 0px 5px;
  transition: transform 0.3 ease-in-out color ease;
} */

.form-box {
  width: 550px;
  margin: 50px auto;
  padding: 30px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  box-shadow:
    10px 10px 20px #bebebe,
    -10px -10px 20px #ffffff;
  border-radius: 15px;
  transition: 0.4s;
  border-top: 5px solid var(--accent-orange);
}

.form-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* ini jadi dua kolom */
  gap: 20px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.form-action {
  margin-top: 20px;
  text-align: center;
}

.form-action button {
  width: 200px;
}

.form-box input {
  margin: 8px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
}

.form-box button {
  color: white;
  background-color: #5d4037;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
}

.form-box button:hover {
  background-color: #5d4037;
  transform: scale(1.04);
  color: rgb(168, 162, 162);
}

/* DEVELOPER */

#dev {
  margin-top: 50px;
}

.developer section {
  background: white;
  border-bottom: 4px solid #5d4037;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  padding: 20px;
}

.ari img {
  border-radius: 50%;
  width: 150px;
  height: 160px;
  object-fit: cover;
  transition: 2s;
  margin: 15px;
  margin-bottom: 30px;
}
.hifzhi img {
  margin: 15px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: 2s;
}

.gerry img {
  height: 160px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: 2s;
  margin: 15px;
  margin-bottom: 25px;
}

section img:hover {
  padding: 1px;
  transform: scale(1.1);
}

.developer section:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(93, 64, 55, 0.2);
}

.developer p {
  font-size: 14px;
  margin-bottom: 10px;
}
.developer a {
  background-color: #8d6e63;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.developer a:hover {
  background-color: #5d4037;
  color: rgb(168, 162, 162);
  transform: scale(1.1);
}

.card {
  transition: 0.3;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.developer {
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
  margin-top: 30px;
}

/* Buku (index) */
.index-buku {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  margin: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

section {
  width: 200px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
}

/* FOOTER */
.footer {
  background: #2c3e50;
  color: white;
  padding: 40px;
  margin-top: 150px;
}

.footer p {
  color: #bdc3c7;
}

/* JS */
.info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.kode {
  background-color: #4a90e2;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
}

.card-js {
  background-color: white;
  border: none;
  border-left: 5px solid #d35400;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
  transition: 0.3s;
}

.card-js:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 25px rgba(211, 84, 0, 0.15);
}

.btn {
  background-color: #d35400;
  color: white;
}

.btn:hover {
  background-color: #a04000;
  color: rgb(168, 162, 162);
  transform: scale(1.05);
}

.btnListBuku {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #a04000;
  color: white;
  margin: 3px;
}

.btnListBuku a {
  text-decoration: none;
  color: white;
}

.btnListBuku:hover {
  background-color: #692d05;
  color: rgb(168, 162, 162);
  transform: scale(1.05);
}

#strukTransaksi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

/* STRUK */

.struk {
  border: 1px solid #e0d8c3;
  padding: 12px;
  border-radius: 10px;
  background: #f9f9f9;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.struk b {
  color: #094911;
}

/* LOGIN */

.log {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/background_login.jpg");

  background-size: cover;
}

.login {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 2px solid #e0d8c3;
  padding: 20px;
  border-radius: 10px;
  height: 400px;
  width: 900px;
  gap: 50px;
  margin: 150px auto;
  transition: 0.3s;
}

.login:hover {
  box-shadow: 5px 5px 50px 35px rgba(180, 117, 30, 0.2);
}

.Sign-in {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.Sign-in h1 {
  color: #ffffff;
  margin-bottom: 60px;
}

.Sign-in p {
  color: #ffffff;
  margin-bottom: px;
  font-size: large;
}

.Sign-in a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 50px;
  background-color: #e6c068;
  padding: 6px 10px;
  border-radius: 3px;
  transition: 0.3s;
}

.Sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.Sign-up h1 {
  color: white;
  margin-bottom: 20px;
}

.Sign-up input {
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #e0d8c3;
  width: 250px;
}

.Sign-up a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  background-color: #e6c068;
  padding: 6px 10px;
  border-radius: 3px;
  transition: 0.3s;
}

.Sign-in a:hover,
.Sign-up a:hover {
  background-color: #3b4953;
  transform: scale(1.03);
}

/* tersedia dan terjual */
#tersedia_terjual {
  background-color: #5d4037;
  border-left: 5px solid #756a2f;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin: 10px;
}

.selamatdatang {
  animation: typing 3s infinite;
}

/* Ulasan */
.ulasan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 900px;
}

.ulasan input {
  width: 825px;
}

.ulasan textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

#btn-ulasan {
  background-color: #9f6d17;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  margin: 5px auto;
}

#btn-ulasan:hover {
  background-color: #6f4408;
  transform: translateY(-2px);
}

#hasilUlasan {
  max-width: 500px;
  margin: 20px auto;
  font-family: "Quicksand", sans-serif;
}

.card-ulasan {
  background: white;
  border-left: 5px solid #0d6efd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  animation: fadeIn 0.5s ease-in;
}

.card-ulasan h5 {
  color: #333;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.card-ulasan p {
  color: #555;
  margin-bottom: 10px;
}

.card-ulasan h6 {
  color: #999;
  font-size: 0.75rem;
  text-align: right;
}
